<div class="team {{module.background}}">
	<div class="container">
		<div class="row">
			{% if module.heading %}
				<h2>{{module.heading}}</h2>
			{% endif %}

			{% for department in module.team %}
				<h3>{{department.department}}</h3>
				<div class="team-listing {{department.layout}}">
					{% for team_member in department.team_members %}
						<div class="profile">
							<img src="{{get_image(team_member.image).src}}" alt="{{get_image(team_member.image).alt}}">
							<h4>{{team_member.name}}</h4>
							<h5>{{team_member.role}}</h5>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
