{% if options.footer.faqs.faqs %}


	<div class="faqs light">
		<div class="container">
			<div class="row">
				{% if options.footer.faqs.heading %}
					<h2>{{options.footer.faqs.heading}}</h2>
				{% endif %}
				{% if options.footer.faqs.text %}
					{{options.footer.faqs.text}}
				{% endif %}
				<ul class="accordion">
					{% for question in options.footer.faqs.faqs %}
						<li>
							<div class="accordion-title">
								<h3>{{question.question}}</h3>
								<span class="icon"></span>
							</div>
							<div class="accordion-content">
								{{question.answer}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
{% if options.footer.trustpilot.code %}
	<div class="embed light">
		<div class="container">
			<div class="row">
				<h2>{{options.footer.trustpilot.heading}}</h2>
				<div class="embed-wrapper">
					{{options.footer.trustpilot.code}}
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% if options.footer.gallery %}
	<div class="footer-gallery">
		{% for image in options.footer.gallery %}
			<div class="img-slide">
				<a href="{{get_image(image).src}}" data-fancybox>
					<img src="{{get_image(image).src}}" alt="{{get_image(image).alt}}">
				</a>
			</div>
		{% endfor %}
	</div>
{% endif %}
<footer>
	<div class="container">
		<div class="row">
			<div class="footer-top">
				<div class="text">
					<p>
						{{options.footer.heading}}
					</p>
					<a href="{{options.footer.cta.link}}">
						<span>{{options.footer.cta.large_text}}</span>
						{{options.footer.cta.small_text}}
					</a>
				</div>
				<div class="footer-col">
					<h2>Links</h2>
					<ul>
						{% for item in footer_nav.items %}
							<li>
								<a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a>
							</li>
						</li>
					{% endfor %}
				</ul>

			</div>
			<div class="footer-col">
				<h2>Contact</h2>
				<ul>
					<li>
						<a href="tel:+44{{options.phone_number}}">{{options.phone_number}}</a>
					</li>
					<li>
						<a href="mailto:{{options.email}}">{{options.email}}</a>
					</li>

				</ul>
				<h2>{{options.footer.mobile_service.heading}}</h2>
				{{options.footer.mobile_service.text}}
			</div>
		</div>
		<div class="footer-logos">
			<p>{{options.footer.copyright}}</p>
			{% if options.footer.logos %}
				<div class="logos">
					{% for logo in options.footer.logos %}
						<img src="{{get_image(logo).src}}" alt="{{get_image(logo).alt}}">
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="footer-bottom">
			<a href="/">
				<img src="{{theme.theme_mod('logo')}}" alt="">
			</a>
			<p>© Tracker Team – All Rights Reserved.</p>

		</div>
	</div>
</div></footer>
